{% extends 'baseuser.html' %}
{% load crispy_forms_tags %}
{% block content %}

<section class="product-grids section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-12">
          <div class="product-sidebar">
      

            <div class="single-widget">
              <h3>All Categories</h3>
              <ul class="list">
                {% for category in catogeries %}
                            
                <li><a href="{% url 'FilterView' category.id %}" value="{{category.id}}">{{category.category_name}}</a><span>({{category.numpro}})</span></li>
                {% endfor %}
            
              
              </ul>
            </div>

           

            
          </div>
        </div>
        <div class="col-lg-9 col-12">
          <div class="product-grids-head">
            <div class="product-grid-topbar">
              <div class="row align-items-center">
                <div class="col-lg-7 col-md-8 col-12">
                  <div class="product-sorting">
                    <label for="sorting">Sort by:</label>
                    <select onchange="location = this.value;" class="form-control" id="sorting">
                      <option value="{% url 'userproductgrid' %}">Normal</option>
                      <option value="{% url 'lowtohigh' %}">Low - High Price</option>
                      <option value="{% url 'hightolow' %}">High - Low Price</option>
                      
                    </select>
                   
                  </div>
                </div>
                <div class="col-lg-5 col-md-4 col-12">
                  <nav>
                  
                  </nav>
                </div>
              </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="nav-grid"
                role="tabpanel"
                aria-labelledby="nav-grid-tab"
              >
              <section class="section-pagetop bg">
                <div class="container">
              
                </div>
                <!-- container //  -->
              </section>
                <div class="row">
                    {% for i in product %}
                  <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-product">
                      <div class="product-image">
                        <img
                          src="{{i.product_image1.url}}" alt="#"
                        />
                        
                        <div class="text-center m-2">
                          
                          <a href="{% url 'userproductdetails' i.id %}" class="btn btn-primary btn-sm m-1">  View Details</a>
                          {% if i.id in p %}
                          <button class="btn btn-primary btn-sm m-1"  id="removewishlist"  onclick="removeWishItem('{{i.id}}')" >  <i class="fa fa-heart" ></i>   In Wish   </button>
                          {% else %}
                          <button class="btn btn-primary btn-sm m-1"  id="hmAddtoWishlistBtn"  onclick="wishList('{{i.id}}')" >  <i class="fa fa-heart" ></i>  Add to Wish    </button>
                          {% endif %}
                          
                        
                  
                      </div>
                      </div>
                      <div class="product-info">
                        <span class="category">{{i.category}}</span>
                        <h4 class="title">
                          <a href="{% url 'userproductgrid' %}">{{i.product_name}}</a>
                        </h4>

                        <div class="price">
                          
                          {% if i.price < i.mrp_price and i.price > 0 %}
                          <span style="color : black;">₹{{i.price}}</span><span>&nbsp;</span><span style="text-decoration: line-through; color:#696969 ; font-size: 0.8rem;" >₹{{i.mrp_price}}</span>
                          {% else %}
                          <span style="color : black;">₹{{i.mrp_price}}</span>
                          {% endif %}
                      


                   
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                 
                </div>
                
                  <div class="d-flex justify-content-center w-100 mt-5">
                    <div class="my-4 d-flex justify-content-center w-100" aria-label="Page navigation sample">
                      {% if product.has_other_pages %}
                          {% if product.has_previous %}
                          
                          {% else %}
                          {% endif %}
                          {% for i in product.paginator.page_range %}
                          {% if product.number == i %}
                          <div class="page-item active "><a class="page-link" href="">{{i}}</a></div>
                          {% else %}
                          <div class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></div>
                          {% endif %}
                          {% endfor %}
                          {% if product.has_next %}
                          <div class="page-item "><a class="page-link" href="?page={{product.next_page_number}}">Next</a>
                          </div>
                          {% else %}
                          <div class="page-item disabled "><a class="page-link" href="#">Next</a></div>
                          {% endif %}
                      {% endif %}
                  </div>
                </div>

              </div>
              <div
                class="tab-pane fade"
                id="nav-list"
                role="tabpanel"
                aria-labelledby="nav-list-tab"
              >
                <div class="row">
                 
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="pagination left">
                      <ul class="pagination-list">
                        <li><a href="javascript:void(0)">1</a></li>
                        <li class="active">
                          <a href="javascript:void(0)">2</a>
                        </li>
                        <li><a href="javascript:void(0)">3</a></li>
                        <li><a href="javascript:void(0)">4</a></li>
                        <li>
                          <a href="javascript:void(0)"
                            ><i class="lni lni-chevron-right"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
<script src="sweetalert2.all.min.js"></script>
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.js" integrity="sha512-MnKz2SbnWiXJ/e0lSfSzjaz9JjJXQNb2iykcZkEY2WOzgJIWVqJBFIIPidlCjak0iTH2bt2u1fHQ4pvKvBYy6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.css" integrity="sha512-VSD3lcSci0foeRFRHWdYX4FaLvec89irh5+QAGc00j5AOdow2r5MFPhoPEYBUQdyarXwbzyJEO7Iko7+PnPuBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>

    function wishList(id){  
        console.log("entered wishlist");      
        var data  = {'id': id,  "csrf_token": '{{csrf_token}}'} 
        console.log("entered wish func")
        $.ajax({
            url : "{% url 'add_wishlist'  %}",
            method: "POST",
            data : data,
            success : function(data){
                
                let msg = data.success
                let quantity = data.wish_items
                let errorMsg = data.error
                if(msg && quantity ){
                    window.location.reload();
                    Toastify({    
                        text: "Item added to wishlist",
                        duration: 3000,
                        style: {
                            background: "linear-gradient(to right, #696969 , #ffa500)",
                          }
                        }).showToast();
                        
                }else{
                  Swal.fire({
                    title: 'Please Login For Adding To Wishlist',
                    showClass: {
                      popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                      popup: 'animate__animated animate__fadeOutUp'
                    }
                  })
                }
                
            }
        })
    }

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
function removeWishItem(prod_id){
  var data = { 'prodId' : prod_id }	
console.log('data of remove wish item',data)
  Swal.fire({
    title: 'Remove Item?',
    text: "Are you sure want to remove this? You will not be able to revert this..",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Remove Item'
  }).then((result) => {
    if (result.isConfirmed) {
      $.ajax({		
        method: "GET",
        url: "{% url 'remove_wish_item' %}",
        data : data,
        success:function(response){
      console.log('removed successfully')

          Swal.fire(
            'Item removed',
            'Item has been successfully removed from cart.',
            'success'
          )
        location.reload();

        }
      })
     
    }
  })
}
</script>
{% endblock %}

