{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body_block %}
<div style="max-width: 300px;margin: auto;">
    {% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible fade show msg-tag" role="alert">
    {{ message | safe }}
    <button type="button" class="close msg-close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>

{% endfor %}
<script>
    $('.msg-close').on('click',function(){
        $('.msg-tag').hide()
    })
</script>
    <form action="" method="POST">
        {% csrf_token %}
     {{ form|crispy }}
     <button type="submit" style="margin-bottom: 10px;" class="btn btn-primary" >Add Offer</button>
    </form>
 </div>
{% endblock %}